<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <h1>FACE TO FACE</h1>
        <table>
            <tr>
                <th>PEOPLE</th>
                <th>ACTIONS</th>
            </tr>
            <tr>
                <td>
                    <select name="colour" method="GET" action="/" id="">
                        <option value="{{colours[0]}}" selected>{{colours[0]}}</option>
                        {% for colour in colours[1:] %}
                            <option value="{{ colour }}" SELECTED>{{ colour }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><a href="">delete</a>
                    <a href="">confirm</a></td>
            
            </tr>
        </table>
        
        
    </div>
</body>
</html>