body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    border: 2px, black;
    text-align: center;
    margin: auto;
    margin-top: 15vh;
}

table {
    margin: auto;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(233, 183, 135, 0.842);
}

table, td, th {
    border: 2px solid white;
}

table {
    border-collapse: collapse;
    width: 40vw;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

h1 {
    font-size: 2em;
}

a {
    color: black;
    border: 1px solid black;
    text-decoration: none;
}

select {
    margin: 15px;
    font-family: sans-serif;
    font-size: 1em;
    text-transform: capitalize;
    text-align: center;
    border: 0px;
    border-radius: 5px;
    width: 10em;
    height: 2.5em;
}

.btn {
    margin: 15px;
    font-size: 1em;;
    background-color: brown;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    width: 6em;
    padding: 10px;
}
